.notification-items {
  border: 3px dotted #e1003c;
  padding: 10px;
  position: relative;
}

.notification-items ul {
  margin: 5px 0;
}

.notification-items li[data-priority="default"] {
  color: blue;
}

.notification-items li[data-priority="urgent"] {
  color: red;
}
